services:
  service_users:
    build: ./service_users
    container_name: service_users
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
    networks:
      - app-net

  service_orders:
    build: ./service_orders
    container_name: service_orders
    ports:
      - "3002:3002"
    environment:
      - PORT=3002
    networks:
      - app-net

  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - USERS_SERVICE_URL=http://service_users:3001
      - ORDERS_SERVICE_URL=http://service_orders:3002
    depends_on:
      - service_users
      - service_orders
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
